body {
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  color: red;
}
body header {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
body header h1 {
  text-align: center;
  margin-bottom: 20px;
}
body header .find-input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 0.5px solid #E9E9E9;
  border-radius: 10px;
}
body header .find-input:hover {
  border: 0.5px solid #333333;
}
body header .find-input img {
  width: 20px;
  height: 20px;
  color: #E9E9E9;
  margin-right: 10px;
  cursor: pointer;
}
body header .find-input img:hover {
  background: red;
}
body header .find-input input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
  color: #a7a7a7;
}
body header .find-input input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
body header .list-links {
  display: flex;
  margin-top: 1rem;
}
body header .list-links li {
  padding: 0 0.6rem;
  text-transform: uppercase;
}
body header .list-links li a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}
body header .list-links li a:hover {
  text-decoration: underline;
}
body header .list-links li:last-child {
  margin-right: 0;
}
body main .breadcrumbs {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  margin: 2rem;
}
body main .breadcrumbs ol {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body main .breadcrumbs ol li a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
}
body main .breadcrumbs ol li:nth-child(2n) {
  color: #000000;
  padding: 0.2rem;
}
body main .breadcrumbs ol li:last-child {
  color: #000000;
  font-weight: 600;
}
body main .filters {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  margin: 2rem;
}
body main .filters ul {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
body main .filters ul li {
  display: flex;
  justify-self: center;
  align-items: center;
  color: #000000;
}
body main .filters ul li img {
  margin-left: 0.5rem;
  width: 25px;
  height: 25px;
}
body main .products {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  margin: 2rem;
}
body main .products ol {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 33.33%);
  grid-gap: 0.2rem;
}
body main .products ol li {
  display: flex;
  width: 20%;
  margin-bottom: 1rem;
}
body main .products ol li p {
  margin-top: 1rem;
  text-align: center;
  color: #000000;
}
body main .products ol li p:nth-child(3) {
  font-weight: bold;
}
body footer .contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .contact-container .offers {
  display: flex;
  align-items: center;
}
body footer .contact-container .offers p {
  text-transform: uppercase;
  margin-right: 0.5rem;
  font-weight: 600;
  color: #000000;
}
body footer .contact-container .offers div {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #838383;
}
body footer .contact-container .offers div img {
  margin-left: 0.5rem;
  width: 25px;
  height: 25px;
}
body footer .contact-container .offers div h4 {
  color: #838383;
  font-weight: bold;
}
body footer .contact-container .offers form {
  margin-right: 0.5rem;
  display: flex;
}
body footer .contact-container .offers form input {
  margin-right: 0.5rem;
  border: none;
  font-family: "Poppins", sans-serif;
}
body footer .contact-container .offers form input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
body footer .contact-container .offers form button[type=submit] {
  padding: 10px 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
body footer .contact-container .mobile-apps {
  display: flex;
  align-items: center;
}
body footer .contact-container .mobile-apps p {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
}
body footer .contact-container .mobile-apps img {
  margin-right: 0.5rem;
}
body footer .faq-questions {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
body footer .faq-questions .contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  border-right: 2px solid #ebebeb;
}
body footer .faq-questions .contacts div {
  width: 50%;
  color: #333333;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
body footer .faq-questions .contacts div img {
  margin-bottom: 2rem;
  width: 50%;
}
body footer .faq-questions .contacts div p {
  text-align: center;
}
body footer .faq-questions .links {
  padding: 2rem;
}
body footer .faq-questions .links ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  align-items: flex-start;
  margin-top: 1rem;
}
body footer .faq-questions .links ul li {
  margin-bottom: 1.5rem;
}
body footer .faq-questions .links ul li h3 {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}
body footer .faq-questions .links ul li a {
  text-decoration: none;
  color: #000000;
}
body footer .payment-social {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}
body footer .payment-social .payment, body footer .payment-social .social, body footer .payment-social .accessibility {
  padding: 1rem;
}
body footer .payment-social .payment h3, body footer .payment-social .social h3, body footer .payment-social .accessibility h3 {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
body footer .payment-social .payment img, body footer .payment-social .social img, body footer .payment-social .accessibility img {
  margin-right: 1rem;
}
body footer .payment-social .social .logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
body footer .payment-social .social .logos p {
  color: #000000;
}
body footer .payment-social .social .logos .rchlo, body footer .payment-social .social .logos .rchlo-house {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer .copyright-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
body footer .copyright-logo .copyright {
  width: 70%;
}
body footer .copyright-logo .copyright p {
  color: #000000;
  font-weight: 400;
  font-size: 0.7rem;
  text-align: start;
}

/*# sourceMappingURL=styles.css.map */
